#menu {
    height: 30px;
    width: 70%;
    color: white;
    background-color: #3c3c3c;
    font-size: 24px;
    margin: 0 15%;
    padding: 10px 20px;
    box-shadow: 10px 5px lightgray;
}

.photos {
    border: 1px solid black;
}