<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> a {
        text-decoration: none;
    }
    </style>
    <link rel="stylesheet" href=" {{ url_for('static', filename='examstyle.css') }} ">
    <title>Gallery</title>
</head>
<body>
    <div id="menu">
        <a href="{{ url_for('home') }}">Homepage</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
        <a href="{{ url_for('add') }}">Add photo</a>
    </div>
    {% block cat %}
    
    {% endblock %}
    </div>
</body>
</html>